.tag {
    font-size: 14px;
    font-weight: 500;
    background-color: #f4f4f9;
    border: 1px solid #dfe3e6;
    border-radius: 15px;
    padding: 5px 15px;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.tag:hover {
    background-color: #e6e8ed;
}

.tag:active {
    transform: scale(0.98);
}
