.task_column_heading {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 700;
    color: #444;
    margin-bottom: 20px;
}

.task_column_icon {
    width: 35px;
    margin-right: 10px;
}

.task_column {
    padding: 20px;
    background-color: #f8f9fc;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
